openapi: 3.2.0
info:
  title: Select Medical FHIR R4 Encounter API
  version: 4.0.1
  summary: HL7 FHIR R4 patient-access API operated by Select Medical on its Epic platform.
  description: Machine-readable description of the Select Medical FHIR R4 server, DERIVED mechanically from the server's own CapabilityStatement at https://epicproxy.et0948.epichosted.com/FhirProxy/api/FHIR/R4/metadata (fetched 2026-08-28, HTTP 200, application/fhir+json).
  contact:
    name: Select Medical
    url: https://www.selectmedical.com/
  license:
    name: HL7 FHIR R4 (4.0.1)
    url: https://hl7.org/fhir/R4/
servers:
- url: https://epicproxy.et0948.epichosted.com/FhirProxy/api/FHIR/R4
  description: Select Medical FHIR R4 production server (Epic FhirProxy, community et0948)
security:
- smartOnFhir: []
tags:
- name: Encounter
  description: 'FHIR R4 Encounter resource as declared by the Select Medical FHIR server CapabilityStatement. Declared US Core profiles: us-core-encounter|6.1.0.'
paths:
  /Encounter:
    get:
      operationId: searchEncounter
      summary: Search Encounter resources
      description: Search for Encounter resources. Declared search parameters come verbatim from the server's CapabilityStatement.
      tags:
      - Encounter
      parameters:
      - name: class
        in: query
        description: Refine a search for Encounter resources by class. By default, all classes are returned.
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: Refine a search for Encounter resources by date. By default, all Encounters are returned. Enter dates in ISO format (YYYY[-MM[-DD[THH:MM[:SS][TZ]]]]]). Local server time is assumed if time zone information is not included.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: Search for Encounter resources by encounter identifier in the format <code system>|<code>
        required: false
        schema:
          type: string
      - name: onlyscannable
        in: query
        description: Refine a search for Encounter resources to scannable encounters only. By default, all Encounters are returned. Use a value of "true" to only return scannable encounters. Can only be used when the application is launched from Hyperspace.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for Encounter resources for a specified patient ID. You can use "patient" or "subject" equivalently, but they cannot be used at the same time for difference references.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for Encounter resources for a specified patient ID. You can use "patient" or "subject" equivalently, but they cannot be used at the same time for difference references.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count, _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: account
        in: query
        description: FHIR search parameter 'account' declared for Encounter.
        required: false
        schema:
          type: string
      - name: appointment
        in: query
        description: FHIR search parameter 'appointment' declared for Encounter.
        required: false
        schema:
          type: string
      - name: based-on
        in: query
        description: FHIR search parameter 'based-on' declared for Encounter.
        required: false
        schema:
          type: string
      - name: diagnosis
        in: query
        description: FHIR search parameter 'diagnosis' declared for Encounter.
        required: false
        schema:
          type: string
      - name: episode-of-care
        in: query
        description: FHIR search parameter 'episode-of-care' declared for Encounter.
        required: false
        schema:
          type: string
      - name: location
        in: query
        description: FHIR search parameter 'location' declared for Encounter.
        required: false
        schema:
          type: string
      - name: location-period
        in: query
        description: FHIR search parameter 'location-period' declared for Encounter.
        required: false
        schema:
          type: string
      - name: part-of
        in: query
        description: FHIR search parameter 'part-of' declared for Encounter.
        required: false
        schema:
          type: string
      - name: participant
        in: query
        description: FHIR search parameter 'participant' declared for Encounter.
        required: false
        schema:
          type: string
      - name: participant-type
        in: query
        description: FHIR search parameter 'participant-type' declared for Encounter.
        required: false
        schema:
          type: string
      - name: practitioner
        in: query
        description: FHIR search parameter 'practitioner' declared for Encounter.
        required: false
        schema:
          type: string
      - name: reason-code
        in: query
        description: FHIR search parameter 'reason-code' declared for Encounter.
        required: false
        schema:
          type: string
      - name: reason-reference
        in: query
        description: FHIR search parameter 'reason-reference' declared for Encounter.
        required: false
        schema:
          type: string
      - name: service-provider
        in: query
        description: FHIR search parameter 'service-provider' declared for Encounter.
        required: false
        schema:
          type: string
      - name: special-arrangement
        in: query
        description: FHIR search parameter 'special-arrangement' declared for Encounter.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: FHIR search parameter 'status' declared for Encounter.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: FHIR search parameter 'type' declared for Encounter.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching Encounter resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Encounter/{id}:
    get:
      operationId: readEncounter
      summary: Read a Encounter resource by id
      tags:
      - Encounter
      description: Retrieve a single Encounter resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Encounter resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested Encounter resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Forbidden:
      description: The token does not carry the scope required for this resource.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    Unauthorized:
      description: Missing or invalid OAuth 2.0 access token.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    NotFound:
      description: No resource of this type with that id.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
  schemas:
    Resource:
      type: object
      description: A FHIR R4 resource. Structure is defined by HL7 FHIR R4 and the declared US Core profiles.
      properties:
        resourceType:
          type: string
        id:
          type: string
      required:
      - resourceType
    OperationOutcome:
      type: object
      description: FHIR R4 OperationOutcome — the error envelope this server returns.
      properties:
        resourceType:
          type: string
          const: OperationOutcome
        issue:
          type: array
          items:
            type: object
            properties:
              severity:
                type: string
                enum:
                - fatal
                - error
                - warning
                - information
              code:
                type: string
              diagnostics:
                type: string
              details:
                type: object
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                        code:
                          type: string
                        display:
                          type: string
                  text:
                    type: string
      required:
      - resourceType
      - issue
    Bundle:
      type: object
      description: A FHIR R4 searchset Bundle.
      properties:
        resourceType:
          type: string
          const: Bundle
        type:
          type: string
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
                format: uri
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                $ref: '#/components/schemas/Resource'
      required:
      - resourceType
      - type
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 as advertised by the server's .well-known/smart-configuration.
      flows:
        authorizationCode:
          authorizationUrl: https://epicproxy.et0948.epichosted.com/FhirProxy/oauth2/authorize
          tokenUrl: https://epicproxy.et0948.epichosted.com/FhirProxy/oauth2/token
          scopes:
            openid: OpenID Connect authentication
            profile: Profile claims
            fhirUser: Identity of the authorized FHIR user
            launch: EHR launch context
            epic.scanning.dmsusername: Epic document-management scanning username
externalDocs:
  description: HL7 FHIR R4 RESTful API specification
  url: https://hl7.org/fhir/R4/http.html
