# generated: '2026-08-28'
# method: derived
# source: https://epicproxy.et0948.epichosted.com/FhirProxy/api/FHIR/R4/metadata (HTTP 200, application/fhir+json, fetched 2026-08-28)
openapi: 3.1.0
info:
  title: Select Medical FHIR R4 API
  version: 4.0.1
  summary: HL7 FHIR R4 patient-access API operated by Select Medical on its Epic platform.
  description: Machine-readable description of the Select Medical FHIR R4 server, DERIVED mechanically
    from the server's own CapabilityStatement at https://epicproxy.et0948.epichosted.com/FhirProxy/api/FHIR/R4/metadata
    (fetched 2026-08-28, HTTP 200, application/fhir+json). The CapabilityStatement self-identifies as
    "Select Medical FHIR Server" and is the endpoint registered to "Select Medical" in Epic's public endpoint
    directory at https://open.epic.com/Endpoints/R4. Every path, method and query parameter here corresponds
    to an interaction or searchParam the server declares; nothing has been added. Access is SMART-on-FHIR
    OAuth 2.0 and requires app registration and patient authorization — this document describes the contract,
    not open access.
  contact:
    name: Select Medical
    url: https://www.selectmedical.com/
  license:
    name: HL7 FHIR R4 (4.0.1)
    url: https://hl7.org/fhir/R4/
externalDocs:
  description: HL7 FHIR R4 RESTful API specification
  url: https://hl7.org/fhir/R4/http.html
servers:
- url: https://epicproxy.et0948.epichosted.com/FhirProxy/api/FHIR/R4
  description: Select Medical FHIR R4 production server (Epic FhirProxy, community et0948)
security:
- smartOnFhir: []
tags:
- name: Account
  description: FHIR R4 Account resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: AdverseEvent
  description: FHIR R4 AdverseEvent resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: AllergyIntolerance
  description: 'FHIR R4 AllergyIntolerance resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-allergyintolerance|6.1.0.'
- name: Appointment
  description: FHIR R4 Appointment resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Binary
  description: FHIR R4 Binary resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: BodyStructure
  description: FHIR R4 BodyStructure resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: CarePlan
  description: 'FHIR R4 CarePlan resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-careplan|6.1.0.'
- name: CareTeam
  description: 'FHIR R4 CareTeam resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-careteam|6.1.0.'
- name: Claim
  description: FHIR R4 Claim resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Communication
  description: FHIR R4 Communication resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: ConceptMap
  description: FHIR R4 ConceptMap resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Condition
  description: 'FHIR R4 Condition resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-condition-encounter-diagnosis|6.1.0, us-core-condition-problems-health-concerns|6.1.0.'
- name: Consent
  description: FHIR R4 Consent resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Contract
  description: FHIR R4 Contract resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Coverage
  description: 'FHIR R4 Coverage resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-coverage|6.1.0.'
- name: Device
  description: 'FHIR R4 Device resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-implantable-device|6.1.0.'
- name: DeviceRequest
  description: FHIR R4 DeviceRequest resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: DeviceUseStatement
  description: FHIR R4 DeviceUseStatement resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: DiagnosticReport
  description: 'FHIR R4 DiagnosticReport resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-diagnosticreport-lab|6.1.0, us-core-diagnosticreport-note|6.1.0.'
- name: DocumentReference
  description: 'FHIR R4 DocumentReference resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-documentreference|6.1.0.'
- name: Encounter
  description: 'FHIR R4 Encounter resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-encounter|6.1.0.'
- name: Endpoint
  description: FHIR R4 Endpoint resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: EpisodeOfCare
  description: FHIR R4 EpisodeOfCare resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: ExplanationOfBenefit
  description: FHIR R4 ExplanationOfBenefit resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: FamilyMemberHistory
  description: FHIR R4 FamilyMemberHistory resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Flag
  description: FHIR R4 Flag resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Goal
  description: 'FHIR R4 Goal resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-goal|6.1.0.'
- name: Group
  description: FHIR R4 Group resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: ImagingStudy
  description: FHIR R4 ImagingStudy resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Immunization
  description: 'FHIR R4 Immunization resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-immunization|6.1.0.'
- name: ImmunizationRecommendation
  description: FHIR R4 ImmunizationRecommendation resource as declared by the Select Medical FHIR server
    CapabilityStatement.
- name: List
  description: FHIR R4 List resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Location
  description: FHIR R4 Location resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Measure
  description: FHIR R4 Measure resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: MeasureReport
  description: FHIR R4 MeasureReport resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Media
  description: FHIR R4 Media resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Medication
  description: 'FHIR R4 Medication resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-medication|6.1.0.'
- name: MedicationAdministration
  description: FHIR R4 MedicationAdministration resource as declared by the Select Medical FHIR server
    CapabilityStatement.
- name: MedicationDispense
  description: 'FHIR R4 MedicationDispense resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-medicationdispense|6.1.0.'
- name: MedicationRequest
  description: 'FHIR R4 MedicationRequest resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-medicationrequest|6.1.0.'
- name: NutritionOrder
  description: FHIR R4 NutritionOrder resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Observation
  description: 'FHIR R4 Observation resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: head-occipital-frontal-circumference-percentile|6.1.0, pediatric-bmi-for-age|6.1.0,
    pediatric-weight-for-height|6.1.0, us-core-blood-pressure|6.1.0, us-core-bmi|6.1.0, us-core-body-height|6.1.0,
    us-core-body-temperature|6.1.0, us-core-body-weight|6.1.0, us-core-head-circumference|6.1.0, us-core-heart-rate|6.1.0,
    us-core-observation-clinical-result|6.1.0, us-core-observation-lab|6.1.0, us-core-observation-occupation|6.1.0,
    us-core-observation-pregnancyintent|6.1.0, us-core-observation-pregnancystatus|6.1.0, us-core-observation-screening-assessment|6.1.0,
    us-core-observation-sexual-orientation|6.1.0, us-core-pulse-oximetry|6.1.0, us-core-respiratory-rate|6.1.0,
    us-core-simple-observation|6.1.0, us-core-smokingstatus|6.1.0, us-core-vital-signs|6.1.0.'
- name: Organization
  description: 'FHIR R4 Organization resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-organization|6.1.0.'
- name: Patient
  description: 'FHIR R4 Patient resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-patient|6.1.0.'
- name: Practitioner
  description: 'FHIR R4 Practitioner resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-practitioner|6.1.0.'
- name: PractitionerRole
  description: 'FHIR R4 PractitionerRole resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-practitionerrole|6.1.0.'
- name: Procedure
  description: 'FHIR R4 Procedure resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-procedure|6.1.0.'
- name: Provenance
  description: 'FHIR R4 Provenance resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-provenance|6.1.0.'
- name: Questionnaire
  description: FHIR R4 Questionnaire resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: QuestionnaireResponse
  description: FHIR R4 QuestionnaireResponse resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: RelatedPerson
  description: 'FHIR R4 RelatedPerson resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-relatedperson|6.1.0.'
- name: RequestGroup
  description: FHIR R4 RequestGroup resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: ResearchStudy
  description: FHIR R4 ResearchStudy resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: ResearchSubject
  description: FHIR R4 ResearchSubject resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: ServiceRequest
  description: 'FHIR R4 ServiceRequest resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-servicerequest|6.1.0.'
- name: Specimen
  description: 'FHIR R4 Specimen resource as declared by the Select Medical FHIR server CapabilityStatement.
    Declared US Core profiles: us-core-specimen|6.1.0.'
- name: Substance
  description: FHIR R4 Substance resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: Task
  description: FHIR R4 Task resource as declared by the Select Medical FHIR server CapabilityStatement.
- name: ValueSet
  description: FHIR R4 ValueSet resource as declared by the Select Medical FHIR server CapabilityStatement.
paths:
  /Account:
    get:
      operationId: searchAccount
      summary: Search Account resources
      description: Search for Account resources. Declared search parameters come verbatim from the server's
        CapabilityStatement.
      tags:
      - Account
      parameters:
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching Account resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Account/{id}:
    get:
      operationId: readAccount
      summary: Read a Account resource by id
      tags:
      - Account
      description: Retrieve a single Account resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Account resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested Account resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /AdverseEvent:
    get:
      operationId: searchAdverseEvent
      summary: Search AdverseEvent resources
      description: Search for AdverseEvent resources. Declared search parameters come verbatim from the
        server's CapabilityStatement.
      tags:
      - AdverseEvent
      parameters:
      - name: research-subject
        in: query
        description: Search for AdverseEvent resources for a specified research study participant.
        required: false
        schema:
          type: string
      - name: seriousness
        in: query
        description: Refine a search for AdverseEvent resources by seriousness of the event. Serious and
          Non-serious are the only supported values.
        required: false
        schema:
          type: string
      - name: study
        in: query
        description: Search for AdverseEvent resources for a specified study ID.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for AdverseEvent resources for a specified patient ID.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: actuality
        in: query
        description: FHIR search parameter 'actuality' declared for AdverseEvent.
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: FHIR search parameter 'category' declared for AdverseEvent.
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: FHIR search parameter 'date' declared for AdverseEvent.
        required: false
        schema:
          type: string
      - name: event
        in: query
        description: FHIR search parameter 'event' declared for AdverseEvent.
        required: false
        schema:
          type: string
      - name: location
        in: query
        description: FHIR search parameter 'location' declared for AdverseEvent.
        required: false
        schema:
          type: string
      - name: recorder
        in: query
        description: FHIR search parameter 'recorder' declared for AdverseEvent.
        required: false
        schema:
          type: string
      - name: resultingcondition
        in: query
        description: FHIR search parameter 'resultingcondition' declared for AdverseEvent.
        required: false
        schema:
          type: string
      - name: severity
        in: query
        description: FHIR search parameter 'severity' declared for AdverseEvent.
        required: false
        schema:
          type: string
      - name: substance
        in: query
        description: FHIR search parameter 'substance' declared for AdverseEvent.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching AdverseEvent resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /AdverseEvent/{id}:
    get:
      operationId: readAdverseEvent
      summary: Read a AdverseEvent resource by id
      tags:
      - AdverseEvent
      description: Retrieve a single AdverseEvent resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the AdverseEvent resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested AdverseEvent resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /AllergyIntolerance:
    get:
      operationId: searchAllergyIntolerance
      summary: Search AllergyIntolerance resources
      description: Search for AllergyIntolerance resources. Declared search parameters come verbatim from
        the server's CapabilityStatement.
      tags:
      - AllergyIntolerance
      parameters:
      - name: clinical-status
        in: query
        description: Refine a search for AllergyIntolerance resources by clinicalStatus. Active is the
          only supported clinical status to search by.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for AllergyIntolerance resources for a specified patient ID.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: asserter
        in: query
        description: FHIR search parameter 'asserter' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: FHIR search parameter 'category' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: code
        in: query
        description: FHIR search parameter 'code' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: criticality
        in: query
        description: FHIR search parameter 'criticality' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: FHIR search parameter 'date' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: last-date
        in: query
        description: FHIR search parameter 'last-date' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: manifestation
        in: query
        description: FHIR search parameter 'manifestation' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: onset
        in: query
        description: FHIR search parameter 'onset' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: recorder
        in: query
        description: FHIR search parameter 'recorder' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: route
        in: query
        description: FHIR search parameter 'route' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: severity
        in: query
        description: FHIR search parameter 'severity' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: FHIR search parameter 'type' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      - name: verification-status
        in: query
        description: FHIR search parameter 'verification-status' declared for AllergyIntolerance.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching AllergyIntolerance resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createAllergyIntolerance
      summary: Create a AllergyIntolerance resource
      tags:
      - AllergyIntolerance
      description: Create a new AllergyIntolerance resource.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: The AllergyIntolerance resource was created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /AllergyIntolerance/{id}:
    get:
      operationId: readAllergyIntolerance
      summary: Read a AllergyIntolerance resource by id
      tags:
      - AllergyIntolerance
      description: Retrieve a single AllergyIntolerance resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the AllergyIntolerance resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested AllergyIntolerance resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Appointment:
    get:
      operationId: searchAppointment
      summary: Search Appointment resources
      description: Search for Appointment resources. Declared search parameters come verbatim from the
        server's CapabilityStatement.
      tags:
      - Appointment
      parameters:
      - name: date
        in: query
        description: FHIR search parameter 'date' declared for Appointment.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for Appointment.
        required: false
        schema:
          type: string
      - name: onlyscannable
        in: query
        description: Refine a search for Appointment resources to scannable appointments only. By default,
          all Appointments are returned. Use a value of "true" to only return scannable appointments.
          Can only be used when the application is launched from Hyperspace.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for Appointment resources for a specified patient ID.
        required: false
        schema:
          type: string
      - name: service-category
        in: query
        description: Search on the type of appointment. Enter 'surgery' for scheduled surgery appointments,
          and 'appointment' for all other types of appointments.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: FHIR search parameter 'status' declared for Appointment.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: actor
        in: query
        description: FHIR search parameter 'actor' declared for Appointment.
        required: false
        schema:
          type: string
      - name: appointment-type
        in: query
        description: FHIR search parameter 'appointment-type' declared for Appointment.
        required: false
        schema:
          type: string
      - name: based-on
        in: query
        description: FHIR search parameter 'based-on' declared for Appointment.
        required: false
        schema:
          type: string
      - name: location
        in: query
        description: FHIR search parameter 'location' declared for Appointment.
        required: false
        schema:
          type: string
      - name: part-status
        in: query
        description: FHIR search parameter 'part-status' declared for Appointment.
        required: false
        schema:
          type: string
      - name: practitioner
        in: query
        description: FHIR search parameter 'practitioner' declared for Appointment.
        required: false
        schema:
          type: string
      - name: reason-code
        in: query
        description: FHIR search parameter 'reason-code' declared for Appointment.
        required: false
        schema:
          type: string
      - name: reason-reference
        in: query
        description: FHIR search parameter 'reason-reference' declared for Appointment.
        required: false
        schema:
          type: string
      - name: service-type
        in: query
        description: FHIR search parameter 'service-type' declared for Appointment.
        required: false
        schema:
          type: string
      - name: slot
        in: query
        description: FHIR search parameter 'slot' declared for Appointment.
        required: false
        schema:
          type: string
      - name: specialty
        in: query
        description: FHIR search parameter 'specialty' declared for Appointment.
        required: false
        schema:
          type: string
      - name: supporting-info
        in: query
        description: FHIR search parameter 'supporting-info' declared for Appointment.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching Appointment resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Appointment/{id}:
    get:
      operationId: readAppointment
      summary: Read a Appointment resource by id
      tags:
      - Appointment
      description: Retrieve a single Appointment resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Appointment resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested Appointment resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Binary:
    get:
      operationId: searchBinary
      summary: Search Binary resources
      description: Search for Binary resources. Declared search parameters come verbatim from the server's
        CapabilityStatement.
      tags:
      - Binary
      parameters:
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching Binary resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Binary/{id}:
    get:
      operationId: readBinary
      summary: Read a Binary resource by id
      tags:
      - Binary
      description: Retrieve a single Binary resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Binary resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested Binary resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /BodyStructure:
    get:
      operationId: searchBodyStructure
      summary: Search BodyStructure resources
      description: Search for BodyStructure resources. Declared search parameters come verbatim from the
        server's CapabilityStatement.
      tags:
      - BodyStructure
      parameters:
      - name: identifier
        in: query
        description: Refine a search for BodyStructure resources by identifier. Enter using the structure
          "[system]|[search string]".
        required: false
        schema:
          type: string
      - name: location
        in: query
        description: Refine a search for BodyStructure resources by location.
        required: false
        schema:
          type: string
      - name: morphology
        in: query
        description: Refine a search for BodyStructure resources by morphology.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for BodyStructure resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for BodyStructure resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching BodyStructure resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createBodyStructure
      summary: Create a BodyStructure resource
      tags:
      - BodyStructure
      description: Create a new BodyStructure resource.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: The BodyStructure resource was created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /BodyStructure/{id}:
    get:
      operationId: readBodyStructure
      summary: Read a BodyStructure resource by id
      tags:
      - BodyStructure
      description: Retrieve a single BodyStructure resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the BodyStructure resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested BodyStructure resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateBodyStructure
      summary: Update a BodyStructure resource
      tags:
      - BodyStructure
      description: Update an existing BodyStructure resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the BodyStructure resource.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: The BodyStructure resource was updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /CarePlan:
    get:
      operationId: searchCarePlan
      summary: Search CarePlan resources
      description: Search for CarePlan resources. Declared search parameters come verbatim from the server's
        CapabilityStatement.
      tags:
      - CarePlan
      parameters:
      - name: activity-date
        in: query
        description: FHIR search parameter 'activity-date' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: Search for CarePlans of the given type. This is a required search parameter.
        required: false
        schema:
          type: string
      - name: encounter
        in: query
        description: FHIR search parameter 'encounter' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: part-of
        in: query
        description: FHIR search parameter 'part-of' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for CarePlan resources using a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: FHIR search parameter 'status' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for CarePlan resources using a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: activity-code
        in: query
        description: FHIR search parameter 'activity-code' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: activity-reference
        in: query
        description: FHIR search parameter 'activity-reference' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: based-on
        in: query
        description: FHIR search parameter 'based-on' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: care-team
        in: query
        description: FHIR search parameter 'care-team' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: condition
        in: query
        description: FHIR search parameter 'condition' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: FHIR search parameter 'date' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: goal
        in: query
        description: FHIR search parameter 'goal' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: instantiates-canonical
        in: query
        description: FHIR search parameter 'instantiates-canonical' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: intent
        in: query
        description: FHIR search parameter 'intent' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: performer
        in: query
        description: FHIR search parameter 'performer' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: replaces
        in: query
        description: FHIR search parameter 'replaces' declared for CarePlan.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching CarePlan resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /CarePlan/{id}:
    get:
      operationId: readCarePlan
      summary: Read a CarePlan resource by id
      tags:
      - CarePlan
      description: Retrieve a single CarePlan resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the CarePlan resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested CarePlan resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /CareTeam:
    get:
      operationId: searchCareTeam
      summary: Search CareTeam resources
      description: Search for CareTeam resources. Declared search parameters come verbatim from the server's
        CapabilityStatement.
      tags:
      - CareTeam
      parameters:
      - name: patient
        in: query
        description: Search for CareTeam resources using a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Refine a search based on the CareTeam's status. Currently only active is supported.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for CareTeam resources using a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: FHIR search parameter 'category' declared for CareTeam.
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: FHIR search parameter 'date' declared for CareTeam.
        required: false
        schema:
          type: string
      - name: encounter
        in: query
        description: FHIR search parameter 'encounter' declared for CareTeam.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for CareTeam.
        required: false
        schema:
          type: string
      - name: participant
        in: query
        description: FHIR search parameter 'participant' declared for CareTeam.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching CareTeam resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /CareTeam/{id}:
    get:
      operationId: readCareTeam
      summary: Read a CareTeam resource by id
      tags:
      - CareTeam
      description: Retrieve a single CareTeam resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the CareTeam resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested CareTeam resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Claim:
    get:
      operationId: searchClaim
      summary: Search Claim resources
      description: Search for Claim resources. Declared search parameters come verbatim from the server's
        CapabilityStatement.
      tags:
      - Claim
      parameters:
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching Claim resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Claim/{id}:
    get:
      operationId: readClaim
      summary: Read a Claim resource by id
      tags:
      - Claim
      description: Retrieve a single Claim resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Claim resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested Claim resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Communication:
    get:
      operationId: searchCommunication
      summary: Search Communication resources
      description: Search for Communication resources. Declared search parameters come verbatim from the
        server's CapabilityStatement.
      tags:
      - Communication
      parameters:
      - name: based-on
        in: query
        description: FHIR search parameter 'based-on' declared for Communication.
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: Refine a search to include only Communication resources with the given categories.
        required: false
        schema:
          type: string
      - name: encounter
        in: query
        description: Refine a search to include Communication resources from only the encounters provided.
        required: false
        schema:
          type: string
      - name: part-of
        in: query
        description: FHIR search parameter 'part-of' declared for Communication.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for Communication resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for Communication resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for Communication.
        required: false
        schema:
          type: string
      - name: instantiates-canonical
        in: query
        description: FHIR search parameter 'instantiates-canonical' declared for Communication.
        required: false
        schema:
          type: string
      - name: medium
        in: query
        description: FHIR search parameter 'medium' declared for Communication.
        required: false
        schema:
          type: string
      - name: received
        in: query
        description: FHIR search parameter 'received' declared for Communication.
        required: false
        schema:
          type: string
      - name: recipient
        in: query
        description: FHIR search parameter 'recipient' declared for Communication.
        required: false
        schema:
          type: string
      - name: sender
        in: query
        description: FHIR search parameter 'sender' declared for Communication.
        required: false
        schema:
          type: string
      - name: sent
        in: query
        description: FHIR search parameter 'sent' declared for Communication.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: FHIR search parameter 'status' declared for Communication.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching Communication resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createCommunication
      summary: Create a Communication resource
      tags:
      - Communication
      description: Create a new Communication resource.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: The Communication resource was created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /Communication/{id}:
    get:
      operationId: readCommunication
      summary: Read a Communication resource by id
      tags:
      - Communication
      description: Retrieve a single Communication resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Communication resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested Communication resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /ConceptMap:
    post:
      operationId: createConceptMap
      summary: Create a ConceptMap resource
      tags:
      - ConceptMap
      description: Create a new ConceptMap resource.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: The ConceptMap resource was created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /ConceptMap/{id}:
    get:
      operationId: readConceptMap
      summary: Read a ConceptMap resource by id
      tags:
      - ConceptMap
      description: Retrieve a single ConceptMap resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the ConceptMap resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested ConceptMap resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Condition:
    get:
      operationId: searchCondition
      summary: Search Condition resources
      description: Search for Condition resources. Declared search parameters come verbatim from the server's
        CapabilityStatement.
      tags:
      - Condition
      parameters:
      - name: abatement-date
        in: query
        description: Search for Conditions with a specified abatement date.
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: Search for Condition resources by category.
        required: false
        schema:
          type: string
      - name: clinical-status
        in: query
        description: Refine a search for Condition resources by clinicalStatus. Only clinical statuses
          of 'inactive', 'resolved' and 'active' are supported for health concerns and problem list items.
          Only clinical statuses of 'inactive' and 'active' are supported for infections.
        required: false
        schema:
          type: string
      - name: code
        in: query
        description: Search for Conditions with a specified code.
        required: false
        schema:
          type: string
      - name: encounter
        in: query
        description: Search for Condition resources for specific encounters.
        required: false
        schema:
          type: string
      - name: onset-date
        in: query
        description: Search for Conditions with a specified onset date.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for Condition resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: recorded-date
        in: query
        description: Search for Conditions with a specified recorded date.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for Condition resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: abatement-string
        in: query
        description: FHIR search parameter 'abatement-string' declared for Condition.
        required: false
        schema:
          type: string
      - name: asserter
        in: query
        description: FHIR search parameter 'asserter' declared for Condition.
        required: false
        schema:
          type: string
      - name: body-site
        in: query
        description: FHIR search parameter 'body-site' declared for Condition.
        required: false
        schema:
          type: string
      - name: evidence
        in: query
        description: FHIR search parameter 'evidence' declared for Condition.
        required: false
        schema:
          type: string
      - name: evidence-detail
        in: query
        description: FHIR search parameter 'evidence-detail' declared for Condition.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for Condition.
        required: false
        schema:
          type: string
      - name: onset-info
        in: query
        description: FHIR search parameter 'onset-info' declared for Condition.
        required: false
        schema:
          type: string
      - name: severity
        in: query
        description: FHIR search parameter 'severity' declared for Condition.
        required: false
        schema:
          type: string
      - name: stage
        in: query
        description: FHIR search parameter 'stage' declared for Condition.
        required: false
        schema:
          type: string
      - name: verification-status
        in: query
        description: FHIR search parameter 'verification-status' declared for Condition.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching Condition resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createCondition
      summary: Create a Condition resource
      tags:
      - Condition
      description: Create a new Condition resource.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: The Condition resource was created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /Condition/{id}:
    get:
      operationId: readCondition
      summary: Read a Condition resource by id
      tags:
      - Condition
      description: Retrieve a single Condition resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Condition resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested Condition resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Consent:
    get:
      operationId: searchConsent
      summary: Search Consent resources
      description: Search for Consent resources. Declared search parameters come verbatim from the server's
        CapabilityStatement.
      tags:
      - Consent
      parameters:
      - name: category
        in: query
        description: Search for Consent resources by category.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for Consent resources for a specified patient ID. You can use "patient" or
          "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Search for Consent resources by status.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for Consent resources for a specified patient ID. You can use "patient" or
          "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: action
        in: query
        description: FHIR search parameter 'action' declared for Consent.
        required: false
        schema:
          type: string
      - name: actor
        in: query
        description: FHIR search parameter 'actor' declared for Consent.
        required: false
        schema:
          type: string
      - name: consentor
        in: query
        description: FHIR search parameter 'consentor' declared for Consent.
        required: false
        schema:
          type: string
      - name: data
        in: query
        description: FHIR search parameter 'data' declared for Consent.
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: FHIR search parameter 'date' declared for Consent.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for Consent.
        required: false
        schema:
          type: string
      - name: organization
        in: query
        description: FHIR search parameter 'organization' declared for Consent.
        required: false
        schema:
          type: string
      - name: period
        in: query
        description: FHIR search parameter 'period' declared for Consent.
        required: false
        schema:
          type: string
      - name: purpose
        in: query
        description: FHIR search parameter 'purpose' declared for Consent.
        required: false
        schema:
          type: string
      - name: scope
        in: query
        description: FHIR search parameter 'scope' declared for Consent.
        required: false
        schema:
          type: string
      - name: security-label
        in: query
        description: FHIR search parameter 'security-label' declared for Consent.
        required: false
        schema:
          type: string
      - name: source-reference
        in: query
        description: FHIR search parameter 'source-reference' declared for Consent.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching Consent resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Consent/{id}:
    get:
      operationId: readConsent
      summary: Read a Consent resource by id
      tags:
      - Consent
      description: Retrieve a single Consent resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Consent resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested Consent resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Contract:
    get:
      operationId: searchContract
      summary: Search Contract resources
      description: Search for Contract resources. Declared search parameters come verbatim from the server's
        CapabilityStatement.
      tags:
      - Contract
      parameters:
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching Contract resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Contract/{id}:
    get:
      operationId: readContract
      summary: Read a Contract resource by id
      tags:
      - Contract
      description: Retrieve a single Contract resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Contract resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested Contract resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Coverage:
    get:
      operationId: searchCoverage
      summary: Search Coverage resources
      description: Search for Coverage resources. Declared search parameters come verbatim from the server's
        CapabilityStatement.
      tags:
      - Coverage
      parameters:
      - name: beneficiary
        in: query
        description: Search for Coverage resource for a specific patient ID. You can use "patient" or
          "beneficiary" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for Coverage resource for a specific patient ID. You can use "patient" or
          "beneficiary" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: class-type
        in: query
        description: FHIR search parameter 'class-type' declared for Coverage.
        required: false
        schema:
          type: string
      - name: class-value
        in: query
        description: FHIR search parameter 'class-value' declared for Coverage.
        required: false
        schema:
          type: string
      - name: dependent
        in: query
        description: FHIR search parameter 'dependent' declared for Coverage.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for Coverage.
        required: false
        schema:
          type: string
      - name: payor
        in: query
        description: FHIR search parameter 'payor' declared for Coverage.
        required: false
        schema:
          type: string
      - name: policy-holder
        in: query
        description: FHIR search parameter 'policy-holder' declared for Coverage.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: FHIR search parameter 'status' declared for Coverage.
        required: false
        schema:
          type: string
      - name: subscriber
        in: query
        description: FHIR search parameter 'subscriber' declared for Coverage.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: FHIR search parameter 'type' declared for Coverage.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching Coverage resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Coverage/{id}:
    get:
      operationId: readCoverage
      summary: Read a Coverage resource by id
      tags:
      - Coverage
      description: Retrieve a single Coverage resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Coverage resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested Coverage resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Device:
    get:
      operationId: searchDevice
      summary: Search Device resources
      description: Search for Device resources. Declared search parameters come verbatim from the server's
        CapabilityStatement.
      tags:
      - Device
      parameters:
      - name: device-name
        in: query
        description: A string that will match the Device.deviceName.name field. Not case sensitive.
        required: false
        schema:
          type: string
      - name: manufacturer
        in: query
        description: Manufacturer of the device.
        required: false
        schema:
          type: string
      - name: model
        in: query
        description: Model number of the device.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: The patient in whom this device is implanted. This is a required parameter.
        required: false
        schema:
          type: string
      - name: udi-carrier
        in: query
        description: The UDI barcode string - matches static UDI.
        required: false
        schema:
          type: string
      - name: udi-di
        in: query
        description: The UDI device identifier (DI).
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for Device.
        required: false
        schema:
          type: string
      - name: location
        in: query
        description: FHIR search parameter 'location' declared for Device.
        required: false
        schema:
          type: string
      - name: organization
        in: query
        description: FHIR search parameter 'organization' declared for Device.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: FHIR search parameter 'status' declared for Device.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: FHIR search parameter 'type' declared for Device.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching Device resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /Device/{id}:
    get:
      operationId: readDevice
      summary: Read a Device resource by id
      tags:
      - Device
      description: Retrieve a single Device resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Device resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested Device resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /DeviceRequest:
    get:
      operationId: searchDeviceRequest
      summary: Search DeviceRequest resources
      description: Search for DeviceRequest resources. Declared search parameters come verbatim from the
        server's CapabilityStatement.
      tags:
      - DeviceRequest
      parameters:
      - name: patient
        in: query
        description: Search for DeviceRequest resource for a specified patient ID.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Search for a DeviceRequest based on a device request status
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: authored-on
        in: query
        description: FHIR search parameter 'authored-on' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: based-on
        in: query
        description: FHIR search parameter 'based-on' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: code
        in: query
        description: FHIR search parameter 'code' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: device
        in: query
        description: FHIR search parameter 'device' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: encounter
        in: query
        description: FHIR search parameter 'encounter' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: event-date
        in: query
        description: FHIR search parameter 'event-date' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: group-identifier
        in: query
        description: FHIR search parameter 'group-identifier' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: instantiates-canonical
        in: query
        description: FHIR search parameter 'instantiates-canonical' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: insurance
        in: query
        description: FHIR search parameter 'insurance' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: intent
        in: query
        description: FHIR search parameter 'intent' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: performer
        in: query
        description: FHIR search parameter 'performer' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: prior-request
        in: query
        description: FHIR search parameter 'prior-request' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: requester
        in: query
        description: FHIR search parameter 'requester' declared for DeviceRequest.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: FHIR search parameter 'subject' declared for DeviceRequest.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching DeviceRequest resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /DeviceRequest/{id}:
    get:
      operationId: readDeviceRequest
      summary: Read a DeviceRequest resource by id
      tags:
      - DeviceRequest
      description: Retrieve a single DeviceRequest resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the DeviceRequest resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested DeviceRequest resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /DeviceUseStatement:
    get:
      operationId: searchDeviceUseStatement
      summary: Search DeviceUseStatement resources
      description: Search for DeviceUseStatement resources. Declared search parameters come verbatim from
        the server's CapabilityStatement.
      tags:
      - DeviceUseStatement
      parameters:
      - name: patient
        in: query
        description: Search for DeviceUseStatement resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for DeviceUseStatement resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: device
        in: query
        description: FHIR search parameter 'device' declared for DeviceUseStatement.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for DeviceUseStatement.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching DeviceUseStatement resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /DeviceUseStatement/{id}:
    get:
      operationId: readDeviceUseStatement
      summary: Read a DeviceUseStatement resource by id
      tags:
      - DeviceUseStatement
      description: Retrieve a single DeviceUseStatement resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the DeviceUseStatement resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested DeviceUseStatement resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /DiagnosticReport:
    get:
      operationId: searchDiagnosticReport
      summary: Search DiagnosticReport resources
      description: Search for DiagnosticReport resources. Declared search parameters come verbatim from
        the server's CapabilityStatement.
      tags:
      - DiagnosticReport
      parameters:
      - name: category
        in: query
        description: Refine a search for DiagnosticReport resources by category.
        required: false
        schema:
          type: string
      - name: code
        in: query
        description: Refine a search for DiagnosticReport resources by code.
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: Refine a search for DiagnosticReport resources by specifying a date or date range
          that a DiagnosticReport was resulted or recorded. Enter dates in ISO format (YYYY[-MM[-DD[THH:MM[:SS][TZ]]]]).
          Local server time is assumed if time zone information is not included.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: Refine search by specifying an identifier, such as the internal order ID or the accession
          number.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for DiagnosticReport resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for DiagnosticReport resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: based-on
        in: query
        description: FHIR search parameter 'based-on' declared for DiagnosticReport.
        required: false
        schema:
          type: string
      - name: conclusion
        in: query
        description: FHIR search parameter 'conclusion' declared for DiagnosticReport.
        required: false
        schema:
          type: string
      - name: encounter
        in: query
        description: FHIR search parameter 'encounter' declared for DiagnosticReport.
        required: false
        schema:
          type: string
      - name: issued
        in: query
        description: FHIR search parameter 'issued' declared for DiagnosticReport.
        required: false
        schema:
          type: string
      - name: media
        in: query
        description: FHIR search parameter 'media' declared for DiagnosticReport.
        required: false
        schema:
          type: string
      - name: performer
        in: query
        description: FHIR search parameter 'performer' declared for DiagnosticReport.
        required: false
        schema:
          type: string
      - name: result
        in: query
        description: FHIR search parameter 'result' declared for DiagnosticReport.
        required: false
        schema:
          type: string
      - name: results-interpreter
        in: query
        description: FHIR search parameter 'results-interpreter' declared for DiagnosticReport.
        required: false
        schema:
          type: string
      - name: specimen
        in: query
        description: FHIR search parameter 'specimen' declared for DiagnosticReport.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: FHIR search parameter 'status' declared for DiagnosticReport.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching DiagnosticReport resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /DiagnosticReport/{id}:
    get:
      operationId: readDiagnosticReport
      summary: Read a DiagnosticReport resource by id
      tags:
      - DiagnosticReport
      description: Retrieve a single DiagnosticReport resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the DiagnosticReport resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested DiagnosticReport resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateDiagnosticReport
      summary: Update a DiagnosticReport resource
      tags:
      - DiagnosticReport
      description: Update an existing DiagnosticReport resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the DiagnosticReport resource.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: The DiagnosticReport resource was updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /DocumentReference:
    get:
      operationId: searchDocumentReference
      summary: Search DocumentReference resources
      description: Search for DocumentReference resources. Declared search parameters come verbatim from
        the server's CapabilityStatement.
      tags:
      - DocumentReference
      parameters:
      - name: author
        in: query
        description: Further refine a search for a given set of DocumentReferences on a patient by specifying
          a Reference that corresponds to the author of the document.
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: Refine a search for DocumentReference resources by category.
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: Further refine a search for a given set of DocumentReferences on a patient by specifying
          a date or date range in ISO format (YYYY[-MM[-DD[THH:MM[:SS][TZ]]]]]) that corresponds to the
          document creation time. Local server time is assumed if time zone information is not included.
        required: false
        schema:
          type: string
      - name: docstatus
        in: query
        description: Further refine a search for a given set of DocumentReferences on a patient by specifying
          a docStatus. By default, all docStatuses are returned.
        required: false
        schema:
          type: string
      - name: encounter
        in: query
        description: Search for DocumentReference resources for a specific internal or external encounter
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for DocumentReference resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: period
        in: query
        description: Further refine a search for a given set of DocumentReferences on a patient by specifying
          a date or date range in ISO format (YYYY[-MM[-DD]]) that corresponds to the time of the service
          that is being documented.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Further refine a search for a given set of DocumentReferences on a patient by specifying
          a status of the document.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for DocumentReference resources for a specified patient ID. You can use "patient"
          or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: 'Further refine a search for a given set of DocumentReferences on a patient by specifying
          a type code to return only documents of that type. Use the format: type=<code> to search all
          supported systems with that code or type=<system>|<code> to further refine the search to one
          code system. Not supported for questionnaire-response search.'
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count,
          _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: _lastupdated
        in: query
        description: Further refine a search by the date list in meta.lastupdated.
        required: false
        schema:
          type: string
      - name: authenticator
        in: query
        description: FHIR search parameter 'authenticator' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: contenttype
        in: query
        description: FHIR search parameter 'contenttype' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: custodian
        in: query
        description: FHIR search parameter 'custodian' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: description
        in: query
        description: FHIR search parameter 'description' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: event
        in: query
        description: FHIR search parameter 'event' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: facility
        in: query
        description: FHIR search parameter 'facility' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: FHIR search parameter 'format' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: language
        in: query
        description: FHIR search parameter 'language' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: related
        in: query
        description: FHIR search parameter 'related' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: relatesto
        in: query
        description: FHIR search parameter 'relatesto' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: relation
        in: query
        description: FHIR search parameter 'relation' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: security-label
        in: query
        description: FHIR search parameter 'security-label' declared for DocumentReference.
        required: false
        schema:
          type: string
      - name: setting
        in: query
        description: FHIR search parameter 'setting' declared for DocumentReference.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching DocumentReference resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createDocumentReference
      summary: Create a DocumentReference resource
      tags:
      - DocumentReference
      description: Create a new DocumentReference resource.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: The DocumentReference resource was created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /DocumentReference/{id}:
    get:
      operationId: readDocumentReference
      summary: Read a DocumentReference resource by id
      tags:
      - DocumentReference
      description: Retrieve a single DocumentReference resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the DocumentReference resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested DocumentReference resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateDocumentReference
      summary: Update a DocumentReference resource
      tags:
      - DocumentReference
      description: Update an existing DocumentReference resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the DocumentReference resource.
        schema:
          type: string
      requestBody:
        required: true
[...]
