openapi: 3.2.0
info:
  title: Select Medical FHIR R4 Explanation Of Benefit API
  version: 4.0.1
  summary: HL7 FHIR R4 patient-access API operated by Select Medical on its Epic platform.
  description: Machine-readable description of the Select Medical FHIR R4 server, DERIVED mechanically from the server's own CapabilityStatement at https://epicproxy.et0948.epichosted.com/FhirProxy/api/FHIR/R4/metadata (fetched 2026-08-28, HTTP 200, application/fhir+json).
  contact:
    name: Select Medical
    url: https://www.selectmedical.com/
  license:
    name: HL7 FHIR R4 (4.0.1)
    url: https://hl7.org/fhir/R4/
servers:
- url: https://epicproxy.et0948.epichosted.com/FhirProxy/api/FHIR/R4
  description: Select Medical FHIR R4 production server (Epic FhirProxy, community et0948)
security:
- smartOnFhir: []
tags:
- name: ExplanationOfBenefit
  description: FHIR R4 ExplanationOfBenefit resource as declared by the Select Medical FHIR server CapabilityStatement.
paths:
  /ExplanationOfBenefit:
    get:
      operationId: searchExplanationOfBenefit
      summary: Search ExplanationOfBenefit resources
      description: Search for ExplanationOfBenefit resources. Declared search parameters come verbatim from the server's CapabilityStatement.
      tags:
      - ExplanationOfBenefit
      parameters:
      - name: created
        in: query
        description: Refine a search for ExplanationOfBenefit resources by creation date for the claim. Enter dates in ISO format (YYYY[-MM[-DD[THH:MM[:SS][TZ]]]]). Local server time is assumed if time zone information is not included.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for ExplanationOfBenefit resources for a specified patient ID. You can use "patient" or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: use
        in: query
        description: Refine a search for ExplanationOfBenefit by use. By default, the search returns all uses. Use of claim and preauthorization are supported.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count, _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: care-team
        in: query
        description: FHIR search parameter 'care-team' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: claim
        in: query
        description: FHIR search parameter 'claim' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: coverage
        in: query
        description: FHIR search parameter 'coverage' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: detail-udi
        in: query
        description: FHIR search parameter 'detail-udi' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: disposition
        in: query
        description: FHIR search parameter 'disposition' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: encounter
        in: query
        description: FHIR search parameter 'encounter' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: enterer
        in: query
        description: FHIR search parameter 'enterer' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: facility
        in: query
        description: FHIR search parameter 'facility' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: item-udi
        in: query
        description: FHIR search parameter 'item-udi' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: payee
        in: query
        description: FHIR search parameter 'payee' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: procedure-udi
        in: query
        description: FHIR search parameter 'procedure-udi' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: provider
        in: query
        description: FHIR search parameter 'provider' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: FHIR search parameter 'status' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      - name: subdetail-udi
        in: query
        description: FHIR search parameter 'subdetail-udi' declared for ExplanationOfBenefit.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching ExplanationOfBenefit resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /ExplanationOfBenefit/{id}:
    get:
      operationId: readExplanationOfBenefit
      summary: Read a ExplanationOfBenefit resource by id
      tags:
      - ExplanationOfBenefit
      description: Retrieve a single ExplanationOfBenefit resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the ExplanationOfBenefit resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested ExplanationOfBenefit resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Forbidden:
      description: The token does not carry the scope required for this resource.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    Unauthorized:
      description: Missing or invalid OAuth 2.0 access token.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    NotFound:
      description: No resource of this type with that id.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
  schemas:
    Resource:
      type: object
      description: A FHIR R4 resource. Structure is defined by HL7 FHIR R4 and the declared US Core profiles.
      properties:
        resourceType:
          type: string
        id:
          type: string
      required:
      - resourceType
    OperationOutcome:
      type: object
      description: FHIR R4 OperationOutcome — the error envelope this server returns.
      properties:
        resourceType:
          type: string
          const: OperationOutcome
        issue:
          type: array
          items:
            type: object
            properties:
              severity:
                type: string
                enum:
                - fatal
                - error
                - warning
                - information
              code:
                type: string
              diagnostics:
                type: string
              details:
                type: object
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                        code:
                          type: string
                        display:
                          type: string
                  text:
                    type: string
      required:
      - resourceType
      - issue
    Bundle:
      type: object
      description: A FHIR R4 searchset Bundle.
      properties:
        resourceType:
          type: string
          const: Bundle
        type:
          type: string
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
                format: uri
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                $ref: '#/components/schemas/Resource'
      required:
      - resourceType
      - type
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 as advertised by the server's .well-known/smart-configuration.
      flows:
        authorizationCode:
          authorizationUrl: https://epicproxy.et0948.epichosted.com/FhirProxy/oauth2/authorize
          tokenUrl: https://epicproxy.et0948.epichosted.com/FhirProxy/oauth2/token
          scopes:
            openid: OpenID Connect authentication
            profile: Profile claims
            fhirUser: Identity of the authorized FHIR user
            launch: EHR launch context
            epic.scanning.dmsusername: Epic document-management scanning username
externalDocs:
  description: HL7 FHIR R4 RESTful API specification
  url: https://hl7.org/fhir/R4/http.html
