openapi: 3.2.0
info:
  title: Select Medical FHIR R4 Care Plan API
  version: 4.0.1
  summary: HL7 FHIR R4 patient-access API operated by Select Medical on its Epic platform.
  description: Machine-readable description of the Select Medical FHIR R4 server, DERIVED mechanically from the server's own CapabilityStatement at https://epicproxy.et0948.epichosted.com/FhirProxy/api/FHIR/R4/metadata (fetched 2026-08-28, HTTP 200, application/fhir+json).
  contact:
    name: Select Medical
    url: https://www.selectmedical.com/
  license:
    name: HL7 FHIR R4 (4.0.1)
    url: https://hl7.org/fhir/R4/
servers:
- url: https://epicproxy.et0948.epichosted.com/FhirProxy/api/FHIR/R4
  description: Select Medical FHIR R4 production server (Epic FhirProxy, community et0948)
security:
- smartOnFhir: []
tags:
- name: Care plan
  description: 'FHIR R4 CarePlan resource as declared by the Select Medical FHIR server CapabilityStatement. Declared US Core profiles: us-core-careplan|6.1.0.'
paths:
  /CarePlan:
    get:
      operationId: searchCarePlan
      summary: Search CarePlan resources
      description: Search for CarePlan resources. Declared search parameters come verbatim from the server's CapabilityStatement.
      tags:
      - Care plan
      parameters:
      - name: activity-date
        in: query
        description: FHIR search parameter 'activity-date' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: Search for CarePlans of the given type. This is a required search parameter.
        required: false
        schema:
          type: string
      - name: encounter
        in: query
        description: FHIR search parameter 'encounter' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: part-of
        in: query
        description: FHIR search parameter 'part-of' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: Search for CarePlan resources using a specified patient ID. You can use "patient" or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: FHIR search parameter 'status' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Search for CarePlan resources using a specified patient ID. You can use "patient" or "subject" equivalently, but they cannot be used at the same time for different references.
        required: false
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: FHIR resource IDs for the desired resources. Can be used in combination with _count, _include, and _revInclude. All others will be ignored.
        required: false
        schema:
          type: string
      - name: activity-code
        in: query
        description: FHIR search parameter 'activity-code' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: activity-reference
        in: query
        description: FHIR search parameter 'activity-reference' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: based-on
        in: query
        description: FHIR search parameter 'based-on' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: care-team
        in: query
        description: FHIR search parameter 'care-team' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: condition
        in: query
        description: FHIR search parameter 'condition' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: FHIR search parameter 'date' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: goal
        in: query
        description: FHIR search parameter 'goal' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: FHIR search parameter 'identifier' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: instantiates-canonical
        in: query
        description: FHIR search parameter 'instantiates-canonical' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: intent
        in: query
        description: FHIR search parameter 'intent' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: performer
        in: query
        description: FHIR search parameter 'performer' declared for CarePlan.
        required: false
        schema:
          type: string
      - name: replaces
        in: query
        description: FHIR search parameter 'replaces' declared for CarePlan.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A Bundle of matching CarePlan resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /CarePlan/{id}:
    get:
      operationId: readCarePlan
      summary: Read a CarePlan resource by id
      tags:
      - Care plan
      description: Retrieve a single CarePlan resource by its logical id.
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the CarePlan resource.
        schema:
          type: string
      responses:
        '200':
          description: The requested CarePlan resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Forbidden:
      description: The token does not carry the scope required for this resource.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    Unauthorized:
      description: Missing or invalid OAuth 2.0 access token.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    NotFound:
      description: No resource of this type with that id.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
  schemas:
    Resource:
      type: object
      description: A FHIR R4 resource. Structure is defined by HL7 FHIR R4 and the declared US Core profiles.
      properties:
        resourceType:
          type: string
        id:
          type: string
      required:
      - resourceType
    OperationOutcome:
      type: object
      description: FHIR R4 OperationOutcome — the error envelope this server returns.
      properties:
        resourceType:
          type: string
          const: OperationOutcome
        issue:
          type: array
          items:
            type: object
            properties:
              severity:
                type: string
                enum:
                - fatal
                - error
                - warning
                - information
              code:
                type: string
              diagnostics:
                type: string
              details:
                type: object
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                        code:
                          type: string
                        display:
                          type: string
                  text:
                    type: string
      required:
      - resourceType
      - issue
    Bundle:
      type: object
      description: A FHIR R4 searchset Bundle.
      properties:
        resourceType:
          type: string
          const: Bundle
        type:
          type: string
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
                format: uri
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                $ref: '#/components/schemas/Resource'
      required:
      - resourceType
      - type
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 as advertised by the server's .well-known/smart-configuration.
      flows:
        authorizationCode:
          authorizationUrl: https://epicproxy.et0948.epichosted.com/FhirProxy/oauth2/authorize
          tokenUrl: https://epicproxy.et0948.epichosted.com/FhirProxy/oauth2/token
          scopes:
            openid: OpenID Connect authentication
            profile: Profile claims
            fhirUser: Identity of the authorized FHIR user
            launch: EHR launch context
            epic.scanning.dmsusername: Epic document-management scanning username
externalDocs:
  description: HL7 FHIR R4 RESTful API specification
  url: https://hl7.org/fhir/R4/http.html
